<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Exercise3.Properties.Settings.ProdiTIConnectionString"
            connectionString="Data Source=DESKTOP-8TDU3RF;Initial Catalog=ProdiTI;Persist Security Info=True;User ID=sa;Password=Anata1133$"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>